.img1 {
    border: 2px solid black;
    width: 380px;
    height: 500px;
}
#tablet {
    height: 300px;
    width: 300px;
    padding: 5px 5px;
}
#price {
    color: orangered;
    font-size: xx-large;
}
#original {
    font-size: large;
    color: black;
}